<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>Backbone.js Library</title>
		<link rel="stylesheet" href="css/screen.css">
		<link rel="stylesheet" href="css/cupertino/jquery-ui-1.10.0.custom.css">
	</head>
	<body>
		<div id="books">
			<form id="addBook" action="#">
				<div>
					<label for="coverImage">CoverImage: </label><input id="coverImage" type="file" />
					<label for="title">Title: </label><input id="title" type="text" />
					<label for="author">Author: </label><input id="author" type="text" />
					<label for="releaseDate">Release date: </label><input id="releaseDate" type="text" />
					<label for="keywords">Keywords: </label><input id="keywords" type="text" />
					<button id="add">Add</button>
				</div>
			</form>
		</div>
		<script id="bookTemplate" type="text/template">
			<img src="<%= coverImage %>"/>
			<ul>
				<li><%= title %></li>
				<li><%= author %></li>
				<li><%= $.format.date( new Date( releaseDate ), 'MMMM yyyy' ) %></li>
				<li><% _.each( keywords, function( keyobj ) {%> <%= keyobj.keyword %><% } ); %></li>
			</ul>

			<button class="delete">Delete</button>
		</script>
		<script src="js/lib/jquery-1.9.0.js"></script>
		<script src="js/lib/jquery-ui-1.10.0.custom.js"></script>
		<script src="js/lib/jquery-dateFormat-1.0.js"></script>
		<script src="js/lib/underscore.js"></script>
		<script src="js/lib/backbone.js"></script>
		<script src="js/models/book.js"></script>
		<script src="js/collections/library.js"></script>
		<script src="js/views/book.js"></script>
		<script src="js/views/library.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
